<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/elementui.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/common.js"></script>
    <style>
        body {
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="grid-content">
        <template>
            <el-form :inline="true">
                <el-form-item>
                    <el-col style="width: 120px">菜单层级：</el-col>
                    <el-select v-model="query.level" placeholder="请选择菜单层级" style="width: 300px">
                        <el-option key="" label="全部" value=""></el-option>
                        <el-option key="1" label="一级" value="1"></el-option>
                        <el-option key="2" label="二级" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="菜单名称:">
                    <el-input v-model="query.name" placeholder="菜单名称" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadList">查询</el-button>
                    <el-button @click="resetQuery">重置</el-button>
                    <el-button type="danger" @click="popAddDialog">新增</el-button>
                </el-form-item>
            </el-form>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="id" label="id" width="130px"></el-table-column>
                <el-table-column prop="name" label="菜单名称" width="130px"></el-table-column>
                <el-table-column prop="level" label="菜单级别" width="100px"></el-table-column>
                <el-table-column prop="parentid" label="父级菜单id"></el-table-column>
                <el-table-column prop="icon" label="图标"></el-table-column>
                <el-table-column prop="path" label="页面路径"></el-table-column>
                <el-table-column prop="descr" label="描述"></el-table-column>
                <el-table-column prop="sort" label="排序字段" width="100px"></el-table-column>
                <el-table-column prop="createtime" label="创建时间" width="230px"></el-table-column>
                <el-table-column align="right" label="操作" width="110px">
                    <template slot-scope="scope">
                        <el-button size="mini" type="warning" icon="el-icon-edit" circle @click="popEditDialog(scope.row)"></el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete" circle @click="handleDelete(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="query.pageno"
                    :page-sizes="[10, 15, 20, 50]"
                    :page-size="query.pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pages.total">
            </el-pagination>
        </template>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
        <el-form :model="curItem">
            <input type="hidden" v-model="curItem.id" autocomplete="off"/>
            <el-form-item class="is-required" label="菜单名称：" label-width="120px">
                <el-input v-model="curItem.name" autocomplete="off" placeholder="菜单名称"></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="菜单级别：" label-width="120px">
                <el-select v-model="curItem.level" placeholder="请选择菜单层级" style="width: 100%">
                    <el-option key="1" label="一级" value="1"></el-option>
                    <el-option key="2" label="二级" value="2"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="父级菜单id：" label-width="120px">
                <el-input v-model="curItem.parentid" autocomplete="off" placeholder="父级菜单id"></el-input>
            </el-form-item>
            <el-form-item label="图标：" label-width="120px">
                <el-input v-model="curItem.icon" autocomplete="off" placeholder="图标"></el-input>
            </el-form-item>
            <el-form-item label="页面路径：" label-width="120px">
                <el-input v-model="curItem.path" autocomplete="off" placeholder="页面路径"></el-input>
            </el-form-item>
            <el-form-item label="描述：" label-width="120px">
                <el-input v-model="curItem.descr" autocomplete="off" placeholder="描述"></el-input>
            </el-form-item>
            <el-form-item label="排序字段：" label-width="120px">
                <el-input v-model="curItem.sort" autocomplete="off" placeholder="排序字段"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleAddOrUpdate">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: function () {
            return {
                query: {
                    pageno: 1,
                    pagesize: 10
                },
                tableData: [],
                pages: { total: 0 },
                dialogFormVisible: false,
                dialogTitle: "新增",
                curItem: {}
            }
        },
        methods: {
            // 列表
            loadList: function () {
                post("/menu/list", vm.query).then(function (response) {
                    if (response.code === 200) {
                        vm.pages.total = response.data.total;
                        vm.tableData = response.data.list;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            // 新增或更新
            handleAddOrUpdate: function(){
                post("/menu/addOrUpdate", vm.curItem).then(function (response) {
                    if (response.code === 200) {
                        vm.$message({
                            message: '成功',
                            type: 'success'
                        });
                        vm.loadList();
                        vm.dialogFormVisible = false;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            // 重置查询
            resetQuery: function(){
                vm.query = {
                    pageno: 1,
                    pagesize: 10
                }
            },
            // 新增弹窗
            popAddDialog: function() {
                vm.curItem = {};
                vm.dialogTitle = '新增';
                vm.dialogFormVisible = true;
            },
            // 编辑弹窗
            popEditDialog: function (row) {
                vm.curItem = JSON.parse(JSON.stringify(row));
                vm.dialogTitle = '编辑';
                vm.dialogFormVisible = true;
            },
            // 删除
            handleDelete: function (id) {
                vm.$confirm('确认删除').then(function () {
                    get("/menu/delete?id="+id).then(function (response) {
                        if (response.code === 200) {
                            vm.$message({
                                message: '成功',
                                type: 'success'
                            });
                            vm.loadList();
                        } else {
                            vm.$message.error(response.msg);
                        }
                    });
                });
            },
            handleSizeChange: function (val) {
                vm.query.pagesize = val;
                vm.loadList();
            },
            handleCurrentChange: function (val) {
                vm.query.pageno = val;
                vm.loadList();
            }
        }
    });
    vm.loadList();
</script>
</html>