<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- import Vue before Element -->
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="./js/elementui.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/common.js"></script>
    <style>
        body {
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }
        .el-image {
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="grid-content">
        <template>
            <el-form :inline="true">
                <el-form-item label="用户名:">
                    <el-input v-model="query.username" placeholder="用户名" style="width: 200px"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadList">查询</el-button>
                    <el-button @click="resetQuery">重置</el-button>
                    <el-button type="danger" @click="popAddDialog">新增</el-button>
                </el-form-item>
            </el-form>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column fixed prop="id" label="id" width="130px"></el-table-column>
                <el-table-column prop="username" label="用户名" width="130px"></el-table-column>
                <el-table-column prop="password" label="密码(加密)"></el-table-column>
                <el-table-column label="头像">
                    <template slot-scope="scope">
                        <el-image v-if="scope.row.avator"
                                  :src="scope.row.avator"
                                  style="width: 40px; height: 40px;"></el-image>
                    </template>
                </el-table-column>
                <el-table-column prop="nickname" label="昵称"></el-table-column>
                <el-table-column prop="createtime" label="创建时间" width="230px"></el-table-column>
                <el-table-column align="right" label="操作" width="150px">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" icon="el-icon-user" circle @click="popRoleDialog(scope.row)"></el-button>
                        <el-button size="mini" type="warning" icon="el-icon-edit" circle @click="popEditDialog(scope.row)"></el-button>
                        <el-button size="mini" type="danger" icon="el-icon-delete" circle @click="handleDelete(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="query.pageno"
                    :page-sizes="[10, 15, 20, 50]"
                    :page-size="query.pagesize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pages.total">
            </el-pagination>
        </template>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" width="30%">
        <el-form :model="curItem">
            <input type="hidden" v-model="curItem.id" autocomplete="off"/>
            <el-form-item class="is-required" label="用户名：" label-width="120px">
                <el-input v-model="curItem.username" autocomplete="off" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="密码(加密)：" label-width="120px">
                <el-input v-model="curItem.password" autocomplete="off" placeholder="密码(加密)："></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="昵称：" label-width="120px">
                <el-input v-model="curItem.nickname" autocomplete="off" placeholder="昵称"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="handleAddOrUpdate">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog :title="dialogTitle" :visible.sync="dialogRoleFormVisible" width="30%">
        <el-form :model="userRoleItem">
            <input type="hidden" v-model="userRoleItem.userid" autocomplete="off"/>
            <el-checkbox-group v-model="userRoleItem.roleIds">
                <el-checkbox v-for="(item,index) in roleList" :label="item.id">{{item.name}}</el-checkbox>
            </el-checkbox-group>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogRoleFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateRole">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: function () {
            return {
                query: {
                    pageno: 1,
                    pagesize: 10
                },
                tableData: [],
                pages: { total: 0 },
                dialogFormVisible: false,
                dialogRoleFormVisible: false,
                dialogTitle: "新增",
                curItem: {},
                userRoleItem: {
                    userid: 0,
                    roleIds: []
                },
                roleList: []
            }
        },
        methods: {
            // 列表
            loadList: function () {
                post("/user/list", vm.query).then(function (response) {
                    if (response.code === 200) {
                        vm.pages.total = response.data.total;
                        vm.tableData = response.data.list;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            // 新增或更新
            handleAddOrUpdate: function(){
                post("/user/addOrUpdate", vm.curItem).then(function (response) {
                    if (response.code === 200) {
                        vm.$message({
                            message: '成功',
                            type: 'success'
                        });
                        vm.loadList();
                        vm.dialogFormVisible = false;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            updateRole: function(){
                post("/user/updateRole", vm.userRoleItem).then(function (response) {
                    if (response.code === 200) {
                        vm.$message({
                            message: '成功',
                            type: 'success'
                        });
                        vm.dialogRoleFormVisible = false;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            // 重置查询
            resetQuery: function(){
                vm.query = {
                    pageno: 1,
                    pagesize: 10
                }
            },
            // 新增弹窗
            popAddDialog: function() {
                vm.curItem = {};
                vm.dialogTitle = '新增';
                vm.dialogFormVisible = true;
            },
            // 编辑弹窗
            popEditDialog: function (row) {
                vm.curItem = JSON.parse(JSON.stringify(row));
                vm.dialogTitle = '编辑';
                vm.dialogFormVisible = true;
            },
            // 角色配置弹窗
            popRoleDialog: function (row) {
                get("/role/userOwnList?userid=" + row.id).then(function (response) {
                    if (response.code === 200) {
                        vm.userRoleItem.userid = row.id;
                        vm.userRoleItem.roleIds = response.data;
                        vm.curItem = JSON.parse(JSON.stringify(row));
                        vm.dialogTitle = '角色配置';
                        vm.dialogRoleFormVisible = true;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            // 删除
            handleDelete: function (id) {
                vm.$confirm('确认删除').then(function () {
                    get("/user/delete?id="+id).then(function (response) {
                        if (response.code === 200) {
                            vm.$message({
                                message: '成功',
                                type: 'success'
                            });
                            vm.loadList();
                        } else {
                            vm.$message.error(response.msg);
                        }
                    });
                });
            },
            handleSizeChange: function (val) {
                vm.query.pagesize = val;
                vm.loadList();
            },
            handleCurrentChange: function (val) {
                vm.query.pageno = val;
                vm.loadList();
            },
            handleCopy: function (txt) {
                let textarea = document.createElement("textarea");
                textarea.value = txt;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand("copy");
                document.body.removeChild(textarea);
                vm.$message({
                    type: 'success',
                    message: '已复制到剪贴板'
                });
            },
            loadRoleList: function () {
                post("/role/list", {pageno: 1, pagesize: 200}).then(function (response) {
                    if (response.code === 200) {
                        vm.roleList = response.data.list;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            }
        }
    });
    vm.loadList();
    vm.loadRoleList();
</script>
</html>