<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manage-boot</title>

    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
    <script src="js/elementui.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/common.js"></script>
    <style>
        body {
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }
        .el-header {
            background-color: #409eff;
            color: rgb(255, 255, 255);
            line-height: 60px;
        }
        .el-aside {
            color: #333;
        }
        .el-main {
            overflow: hidden;
        }
        .header {
            color: rgb(255, 255, 255);
            font-size: 25px;
            vertical-align: middle;
        }
        .header .userinfo {
            text-align: right;
            padding-right: 15px;
            float: right;
        }
        .header .el-dropdown {
            display: inline-block;
            position: relative;
            color: #606266;
            font-size: 14px;
        }
        .header .userinfo .userinfo-inner {
            cursor: pointer;
            color: #fff;
        }
        .header .userinfo .userinfo-inner img {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin: 10px 0 10px 10px;
            float: right;
        }
        .el-menu-item.active {
            color: #409eff;
        }
        .el-menu-item-group__title {
            padding: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container class="is-vertical">
        <el-header style="--el-header-height:60px;" class="header el-col-24">
            <div class="el-col-10">manage-boot</div>
            <div class="el-col-10"></div>
            <div class="userinfo el-col-4">
                <el-dropdown @command="handleDropDownCommand">
                    <span class="el-dropdown-link userinfo-inner el-dropdown-selfdefine">
                        <img :src="user.avator"/>{{user.nickname}}
                    </span>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-unlock" command="password">修改密码</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-edit-outline" command="userinfo">个人信息</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-switch-button" command="logout">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </el-header>
        <el-container style="height: 1100px">
            <el-aside style="width: 200px">
                <el-menu th::default-openeds="${defaultOpenDir}">
                    <el-submenu th:attr="index=${stat.count}" th:each="menu,stat:${menuList}">
                        <template slot="title"><i th:class="${menu.icon}"></i>[[${menu.name}]]</template>
                        <el-menu-item-group th:if="${menu.menuList}">
                            <el-menu-item th:@click="'module='+${menuitem.id}"
                                          th::class="'{active: module===' + ${menuitem.id} +'}'"
                                          th:each="menuitem:${menu.menuList}">
                                [[${menuitem.name}]]
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <el-container th:v-if="${'module === ' + menuitem.id}" th:each="menuitem:${menuitemList}">
                <el-main>
                    <iframe th:src="${menuitem.path}" frameborder="0" scrolling="yes"  width="100%" height="100%"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

    <el-dialog :title="dialogTitle" :visible.sync="userDialogFormVisible">
        <el-form>
            <el-form-item class="is-required" label="昵称：" label-width="120px">
                <el-input v-model="userinfo.nickname"
                          autocomplete="off"
                          placeholder="昵称"></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="头像：" label-width="120px">
                <el-input v-model="userinfo.avator"
                          autocomplete="off"
                          placeholder="头像"
                ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="userDialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateUserInfo">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog :title="dialogTitle" :visible.sync="passwordDialogFormVisible">
        <el-form>
            <el-form-item class="is-required" label="输入旧密码：" label-width="120px">
                <el-input v-model="passwordInfo.old"
                          autocomplete="off"
                          placeholder="输入旧密码"></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="输入新密码：" label-width="120px">
                <el-input v-model="passwordInfo.nnew"
                          show-password
                          autocomplete="off"
                          placeholder="输入新密码"
                ></el-input>
            </el-form-item>
            <el-form-item class="is-required" label="确认新密码：" label-width="120px">
                <el-input v-model="passwordInfo.confirmNew"
                          show-password
                          autocomplete="off"
                          placeholder="确认新密码"
                ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="passwordDialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updatePassword">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script>
    let loginUserId = [[${sessionUser.id}]]
    let loginUserNickname = '[[${sessionUser.nickname}]]'
    let loginUserAvator = '[[${sessionUser.avator}]]'
    let vm = new Vue({
        el: '#app',
        data: function () {
            return {
                module: [[${defaultModule}]],
                user: {
                    nickname: loginUserNickname,
                    avator: loginUserAvator
                },
                dialogTitle: "用户信息",
                userDialogFormVisible: false,
                passwordDialogFormVisible: false,
                userinfo: {
                    nickname: null,
                    avator: null,
                },
                passwordInfo: {
                    old: null,
                    nnew: null,
                    confirmNew: null
                }
            }
        },
        methods: {
            handleDropDownCommand(command) {
                console.log(command)
                if (command === "logout") {
                    get("/user/logout").then(function (response) {
                        if (response.code === 200) {
                            jumpPage("/login.html")
                        } else {
                            vm.$message.error(response.msg);
                        }
                    });
                } else if (command === "userinfo") {
                    vm.userinfo.avator = vm.user.avator;
                    vm.userinfo.nickname = vm.user.nickname;
                    vm.userDialogFormVisible = true;
                } else if (command === "password") {
                    vm.passwordDialogFormVisible = true;
                }
            },
            updateUserInfo() {
                post("/user/updateInfo", vm.userinfo).then(function (response) {
                    if (response.code === 200) {
                        vm.$message({
                            message: '成功',
                            type: 'success'
                        });
                        vm.userDialogFormVisible = false;
                        vm.user.avator = vm.userinfo.avator;
                        vm.user.nickname = vm.userinfo.nickname;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            },
            updatePassword() {
                post("/user/updatePassword", vm.passwordInfo).then(function (response) {
                    if (response.code === 200) {
                        vm.$message({
                            message: '成功',
                            type: 'success'
                        });
                        vm.passwordDialogFormVisible = false;
                    } else {
                        vm.$message.error(response.msg);
                    }
                });
            }
        }
    });
</script>
</html>